# Игнорируем кэш Python
__pycache__/
*.pyc

# Игнорируем чувствительные данные
.env

# Игнорируем защищенные книги
protected_books/

# Игнорируем временные и лог-файлы
*.log
*.tmp

# Игнорируем файлы Docker
docker-compose.yml

# Игнорируем файлы IDE (например, VS Code)
.vscode/
.idea/

# Игнорируем файлы сборки и зависимости
all_code

# Игнорируем локальные файлы виртуального окружения
venv/
__venv__/